body{
font-family:Poppins;
margin:0;
background:#020617;
color:white;
}

/* NAV */
nav{
position:sticky;
top:0;
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#020617;
z-index:1000;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

/* HOME */
.home{
text-align:center;
padding:100px 20px;
}

.profile{
width:150px;
border-radius:50%;
}

.buttons a{
margin:10px;
padding:10px 20px;
background:#38bdf8;
color:black;
border-radius:8px;
text-decoration:none;
}

/* SECTION */
section{
padding:80px 10%;
text-align:center;
}

/* EDUCATION */
.education-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:40px;
}

.edu-card{
background:#0f172a;
padding:25px;
border-radius:15px;
width:280px;
transition:0.3s;
box-shadow:0 0 15px rgba(0,0,0,0.5);
}

.edu-card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px rgba(56,189,248,0.3);
}

.highlight-edu{
border:2px solid #22c55e;
}

.edu-card h3{
color:#38bdf8;
}

.edu-institute{
color:#94a3b8;
font-size:14px;
margin:10px 0;
}

.edu-score{
font-size:20px;
font-weight:bold;
color:#22c55e;
}

/* PROJECTS */
.project-container{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#0f172a;
padding:20px;
border-radius:10px;
width:300px;
}

/* CODING */
.proof-container{
display:flex;
justify-content:center;
gap:20px;
}

.proof-card{
background:#0f172a;
padding:20px;
border-radius:10px;
width:250px;
}

/* CERTIFICATES */
.cert-container{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.cert-card img{
width:250px;
border-radius:10px;
}

/* SKILLS */
.skills{
display:flex;
gap:10px;
justify-content:center;
flex-wrap:wrap;
}

.skills span{
background:#1e293b;
padding:10px 15px;
border-radius:8px;
}

/* CONTACT */
form{
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;
margin:auto;
}

input, textarea{
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
background:#38bdf8;
border:none;
border-radius:5px;
}
